doc/*
data/*
results/*
cache/*
settings_local.py
.env

##  various disposable single-time tests
tst_*.py

venv/*

__pycache__
*.pyc
*.bak
.pytest_cache
*.kate-swp
nohup.out
nohup.out.*

*.txt
*.png
*.jpg
*.jpeg
*.JPG
*.JPEG
*.npz
*.dat
*.pickle
*.conf
